:root{
    --vermelho-escuro:#8F0101;
    --vermelho-claro:#B81515;
    --preto:#000000;
    --cinza-escuro:#222222;
    --cinza:#8C8C8C;
    --cinza-branco:#D9D9D9;
    --cinza-claro:#F5F5F5; 
    --branco:#FFFFFF;
    --fonte:"Montserrat";
}